<a href="https://colab.research.google.com/github/tchuni-hue/INTMI_2025/blob/main/Atividade_c%C3%B3digo_helo.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
idade = int(input("Digite sua idade: "))
if idade >= 16:
    print("Você já pode votar.")
else:
    print("Você não pode votar.")

Digite sua idade: 14
Você não pode votar.

In [ ]:
n1 = float(input("Nota 1: "))
n2 = float(input("Nota 2: "))
media = (n1 + n2) / 2
if media >= 7:
    print("Aprovado!")
else:
    print("Reprovado.")

Nota 1: 0
Nota 2: 15
Aprovado!

In [ ]:
temp = float(input("Temperatura: "))
if temp < 15:
    print("Fria")
elif temp < 25:
    print("Agradável")
elif temp < 35:
    print("Quente")
else:
    print("Muito quente")

Temperatura: 14
Fria

In [ ]:
num = int(input("Número: "))
if num % 2 == 0:
    print("Par")
else:
    print("Ímpar")

Número: 6
Par

In [ ]:
salario = float(input("Salário: "))
if salario <= 1500:
    novo = salario * 1.10
elif salario <= 3000:
    novo = salario * 1.07
else:
    novo = salario * 1.05
print("Novo salário:", novo)

Salário: 1100
Novo salário: 1210.0

In [ ]:
a = float(input("A: "))
b = float(input("B: "))
c = float(input("C: "))
maior = a
if b > maior:
    maior = b
if c > maior:
    maior = c
print("Maior:", maior)

A: 7
B: 9
C: 5
Maior: 9.0

In [ ]:
ano = int(input("Ano: "))
if (ano % 4 == 0):
    print("Ano bissexto")
else:
    print("Ano comum")

Ano: 2000
Ano bissexto

In [ ]:
idade = int(input("Idade: "))
if idade < 18:
    print("Ingresso infantil")
else:
    print("Ingresso adulto")

Idade: 18
Ingresso adulto

In [ ]:
cod = int(input("Código (1-3): "))
if cod == 1:
    print("Produto: Maça")
elif cod == 2:
    print("Produto: Chocolate")
elif cod == 3:
    print("Produto: Banana")
else:
    print("Código inválido.")

Código (1-3): 5
Código inválido.

In [ ]:
hora = int(input("Hora (0-23): "))
if hora < 12:
    print("Bom dia")
elif hora < 18:
    print("Boa tarde")
else:
    print("Boa noite")

Hora (0-23): 17
Boa tarde

In [ ]:
soma = 0
while True:
    numero = float(input("Digite um número (0 para acabar): "))
    if numero == 0:
        break
    soma += numero
print("A soma total é:", soma)

Digite um número (0 para acabar): 4
Digite um número (0 para acabar): 7
Digite um número (0 para acabar): 0
A soma total é: 11.0

In [ ]:
senha = ""
while senha != "python123":
    senha = input("Digite a senha: ")
print("Bem-vindo!")

Digite a senha: 890
Digite a senha: 543
Digite a senha: python123
Bem-vindo!

In [4]:
soma = 0
num = 1
while soma <= 100:
    print(num)
    soma += num
    num += 1
print("Soma final:", soma)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
Soma final: 105

In [6]:
soma = 0
cont = 0
while True:
    idade = int(input("Idade (negativa para parar): "))
    if idade < 0:
        break
    soma += idade
    cont += 1
if cont > 0:
    print("Média:", soma / cont)
else:
    print("Nenhuma idade válida.")

Idade (negativa para parar): 3
Idade (negativa para parar): 1
Idade (negativa para parar): 7
Idade (negativa para parar): 9
Idade (negativa para parar): -1
Média: 5.0

In [10]:
numero = int(input("Número inicial: "))
while numero >= 0:
    print(n)
    numero -= 1

Número inicial: 15
15
14
13
12
11
10
9
8
7
6
5
4
3
2
1
0

In [54]:
for h in range(1, 50):
    print(h)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49

In [19]:
numero = int(input("Digite um número para ver a tabuada: "))
print(f"\nAqui está a tabuada do {numero}:\n")
for i in range(1, 11):
    print(f"{numero} x {i} = {numero * i}")

Digite um número para ver a tabuada: 2

Aqui está a tabuada do 2:

2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
2 x 10 = 20

In [22]:
palavra = input("Palavra: ")
for letra in palavra:
    print(letra)

Palavra: depressão
d
e
p
r
e
s
s
ã
o

In [24]:
cont = 0
for i in range(5):
    idade = int(input("Idade: "))
    if idade > 18:
        cont += 1
print("Maiores de 18:", cont)

Idade: 23
Idade: 18
Idade: 19
Idade: 16
Idade: 17
Maiores de 18: 2

In [29]:
maior = float(input("Número 1: "))
for i in range(2, 8):
    numero = float(input(f"Número {i}: "))
    if numero > maior:
        maior = numero
print("Maior:", maior)

Número 1: 2
Número 2: 3
Número 3: 4
Número 4: 5
Número 5: 6
Número 6: 7
Número 7: 8
Maior: 8.0

In [31]:
maior = ""
for i in range(4):
    nome = input("Tarefa: ")
    if len(nome) > len(maior):
        maior = nome
print("Tarefa mais longa:", maior)

Tarefa: Exercício
Tarefa: Limpar
Tarefa: Lavar
Tarefa: Procurar
Tarefa mais longa: Exercício

In [57]:
soma = 0
for numero in range(2, 101, 2):
    soma += numero
print("Soma:", soma)

Soma: 2550

In [39]:
pos = neg = zero = 0
for i in range(10):
    numero = float(input("Número: "))
    if numero > 0:
        pos += 1
    elif numero < 0:
        neg += 1
    else:
        zero += 1
print("Positivos:", pos)
print("Negativos:", neg)
print("Zeros:", zero)

Número: 3
Número: -5
Número: -7
Número: 0
Número: 0
Número: 2
Número: 8
Número: -9
Número: 2
Número: 7
Positivos: 5
Negativos: 3
Zeros: 2

In [41]:
for i in range(6):
    nome = input("Nome: ").strip().upper()
    if nome.startswith("A") or nome.startswith("C"):
        print(nome)

Nome: Unit
Nome: Manda
Nome: Paola
Nome: Ana
ANA
Nome: Carla
CARLA
Nome: Thomas

In [42]:
while True:
    n = int(input("Número (999 para parar): "))
    if n == 999:
        break

Número (999 para parar): 554
Número (999 para parar): 645
Número (999 para parar): 45
Número (999 para parar): 634
Número (999 para parar): 756
Número (999 para parar): 123456
Número (999 para parar): 8765
Número (999 para parar): 990
Número (999 para parar): 998
Número (999 para parar): 999

In [46]:
for numero in range(1, 20):
    if numero % 4 == 0:
        continue
    print(numero)

1
2
3
5
6
7
9
10
11
13
14
15
17
18
19

In [48]:
senha_correta = "panomolhado"
for tentativa in range(3):
    senha = input("Senha: ")
    if senha == senha_correta:
        print("Acesso liberado.")
        break
else:
    print("Acesso bloqueado.")

Senha: ruim
Senha: panomolhado
Acesso liberado.

In [49]:
soma = 0
for i in range(10):
    numero = float(input("Número: "))
    if numero < 0:
        continue
    soma += numero
print("Soma dos positivos:", soma)

Número: 4
Número: 5
Número: -6
Número: 5
Número: 2
Número: 8
Número: 0
Número: 2
Número: -9
Número: 9
Soma dos positivos: 35.0

In [50]:
soma = 0
numero = 1
while True:
    soma += numero
    if soma > 200:
        break
    numero += 1
print("Soma final:", soma)

Soma final: 210

In [53]:
cont = 0
while True:
    palavra = input("Palavra: ").lower()
    if palavra == "fim":
        break
    cont += 1
print("Total de palavras digitadas:", cont)

Palavra: Ruim
Palavra: Natal
Palavra: Frango
Palavra: Fim
Total de palavras digitadas: 3